<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <i [ngClass]="collapsed ? 'bi bi-chevron-double-left' : 'bi bi-list'" aria-hidden="true"></i>
    </button>
  </div>

  <div class="scrollwrap scrollwrap_delayed">
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a
          class="sidenav-nav-link"
          [ngClass]="getActiveClass(data)"
          *ngIf="data.items && data.items.length > 0"
          (click)="handleClick(data)">
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
            {{ data.label | translate }}
          </span>
          <i
            *ngIf="data.items && collapsed"
            class="menu-collapse-icon"
            [ngClass]="!data.expanded ? 'bi-chevron-compact-right' : 'bi bi-chevron-compact-down'">
          </i>
        </a>

        <a
          class="sidenav-nav-link"
          *ngIf="!data.items || (data.items && data.items.length === 0)"
          (click)="onNavigate(data)"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">

          <i class="sidenav-link-icon" [class]="data.icon" title="{{ data.label | translate }}"></i>

          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
            {{ data.label | translate }}
          </span>
        </a>

        <div *ngIf="collapsed && data.items && data.items.length > 0">
          <lib-sub-item
            [data]="data"
            [collapsed]="collapsed"
            [multiple]="multiple"
            [expanded]="data.expanded"
            (closeSidenav)="closeSidenav()">
          </lib-sub-item>
        </div>

      </li>
    </ul>
  </div>

  <div class="sidenav-footer">
    <button class="footer-button" (click)="changeTranslation('pt')">
      <img src="assets/images/pt_flag_icon.png" title="{{ 'languages.pt' | translate }}" />
      <span *ngIf="collapsed">{{ 'languages.pt' | translate }}</span>
    </button>
    <button class="footer-button" (click)="changeTranslation('en')">
      <img src="assets/images/en_flag_icon.png" title="{{ 'languages.en' | translate }}" />
      <span *ngIf="collapsed">{{ 'languages.en' | translate }}</span>
    </button>
    <button class="footer-button" (click)="changeTranslation('es')">
      <img src="assets/images/es_flag_icon.png" title="{{ 'languages.es' | translate }}" />
      <span *ngIf="collapsed">{{ 'languages.es' | translate }}</span>
    </button>
  </div>
</div>
