<header>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="pacman" [fullScreen]="true">
    <p style="color: #fff"> {{ 'loading' | translate }} </p>
  </ngx-spinner>
</header>

<main class="absolut-background">

  <app-header [title]="title"></app-header>
  <app-navbar></app-navbar>

  <div class="overflow-auto d-grid vh-100">
    <div class="padding-for-layout h-100">
      <div class="container h-100">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <app-footer></app-footer>

</main>
