<div class="d-flex justify-content-center align-items-center h-100">
  <div class="p-4 col-11 col-md-8 col-lg-4 round-transparent-background">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2 class="text-center mb-4">{{ 'login' | translate }}</h2>

      <mat-form-field class="w-100 mb-3">
        <mat-label>{{ 'cnpj' | translate }}</mat-label>
        <input matInput formControlName="cnpj"/>
        <mat-error *ngIf="loginForm.get('cnpj')?.hasError('required')">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 mb-3">
        <mat-label>{{ 'password' | translate }}</mat-label>
        <input matInput formControlName="password" type="password" placeholder="{{ 'validations.required' | translate }}"/>
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          {{ 'validations.required' | translate }}
        </mat-error>
      </mat-form-field>

      <div class="w-100 d-flex justify-content-center">
        <button mat-raised-button color="primary" type="submit">
          <i class="bi bi-key me-2 just-white"></i>
          <span class="just-white fw-semibold">{{ 'login' | translate }}</span>
        </button>
      </div>
    </form>
  </div>
</div>
