@use '@angular/material' as mat;
@include mat.core();

@import "./styles/variables.scss";

// Warn is also using the primary color to make the warning borders in form fields appear the same color
$my-app-primary: mat.define-palette($palette-primary);
$my-app-accent:  mat.define-palette($palette-accent);
$my-app-warn:    mat.define-palette($palette-primary);
$my-app-theme:   mat.define-light-theme((
  color: (
    primary: $my-app-primary,
    accent: $my-app-accent,
    warn: $my-app-warn,
  )
));

@include mat.all-component-themes($my-app-theme);

.just-white {
  color: white;
}

.absolut-background {
  background-image: url('/assets/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.round-transparent-background {
  background: rgba(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.no-data-message {
  text-align: center;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(236, 236, 236, 0.71);
}
